.nz-error-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.nz-h2-div{
    width: 100%;
}
.nz-img-div{
    width: 67%;
    margin-bottom: 60px;
    /* height: 67%; */
}
.nz-img-div img{
    width:100% ;
    
}
