.NA-articlesCards {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} 
.NA-article-card {
  width: 410px;
  border-radius: 20px;
  border: 1px solid var(--light-gray);
  gap: 12px;
  margin: 15px 0;
  transition: .5s;
}
.NA-article-card-img img {
  width: 100%;
}
.NA-article-card-content {
  padding: 20px;
  gap: 12px;
  flex-direction: column;
}
.NA-article-card-content h3 {
  font-size: 20px;
  margin: 0; /*Taking off bootstrap value*/
  transition: .3s;
}
.NA-date-icon {
  align-items: center;
  height: 24px;
}
.NA-date-icon img {
  width: 16px;
  height: 16px;
}
.NA-article-card-content p {
  color: var(--dark-grey);
  font-size: 18px;
  margin: 0; /*Taking off bootstrap value*/
}
.NA-date-icon p {
  font-size: 16px;
  margin-left: 8px;
}
.NA-article-card:hover {
  margin: 0 0 16px 0;
  box-shadow: 0px 4px 20px 0px #0000001a;
}
.NA-article-card:hover h3 {
  color: var(--main-color);
}
.NA-span2 {
  display: none;
}
/* large screen */
@media (min-width: 993px) and (max-width: 1500px) {
  .NA-article-card {
    width: 320px !important;
  }
  .NA-article-card-content h3 {
    font-size: 18px !important;
  }
  .NA-article-card-content p {
    font-size: 14px !important;
  }
  
}

/* medium screen && small screen  */
@media (min-width: 577px) and (max-width: 992px) {
  .NA-articlesCards {
    gap: 30px;
    justify-content: center;
  } 
  .NA-article-card {
    width: 310px !important;
  }
  .NA-article-card-content h3 {
    font-size: 16px !important;
  }
  .NA-article-card-content p {
    font-size: 12px !important;
  }

}



/* mobile screen */
@media (min-width: 200px) and (max-width: 576px) {
  .NA-articlesCards {
    justify-content: center;
  } 
  .NA-article-card {
    width: 340px !important;
  }
  .NA-article-card-content {
    gap: 8px;
  }
  .NA-article-card-content h3 {
    font-size: 16px !important;
  }
  .NA-article-card-content p {
    font-size: 12px !important;
  }
  
}