.Mk-form-padding {
    padding: 0 10px;
  }
  .Mk-placeholder-padding {
    padding: 10px 16px;
    border-radius: 8px;
    color: var(--grey);
  }
  form ::placeholder {
    color: var(--grey) !important;
  }
  .form-check-input[type="checkbox"] {
    width: 12px;
    height: 12px;
    border: 2px solid var(--grey);
  }
  .Mk-checkbox {
    display: flex;
  }
  .Mk-checkbox p 
  {
    margin: 0 0 20px 4px;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark-gray);
  }
  .MK-Contact-Btn
  {
    width: 170px;
    height: 48px;
    border-radius: 24px;
    background-color: var(--main-color);
    padding: 10px 24px;
    border: 1px solid var(--main-color);
    
  }
  .MK-Contact-Btn p
  {
    font-size: 18px;
    color: white;
    line-height: 21px;
    font-weight: 500;
    margin: 0;
  }
  
  /* media------------------------------------------- */

  @media (max-width:1000px)
  {
    .Mk-form
    {
        display: flex;
    }
    .Mk-Coulmn
    {
        flex-direction: column;
        gap: 20px;
    }
  }
  @media (max-width:540px)
  {
    .Mk-checkbox p
    {
        font-size: 14px;
    }
    
  }

  