* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* NAHLA Changes */
::-webkit-scrollbar {
  width: 12px;
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}
::selection {
  background-color: var(--mark);
  opacity: 0.9;
  color: white;
}

:root {
  /* colors */

  --main-color: #ff782d;
  --orange: #f6b40a;
  --green: #55be24;
  --red: #f51a1a;
  --blue: #2580d5;
  --light-gray: #eaeaea;
  --white-grey: #f5f5f5;
  --grey: #9d9d9d;
  --dark-grey: #555555;
  --white: white;
  --main-color: #ff782d;
  --green: #55be24;
  --red: #f51a1a;
  --blue: #2580d5;
  --light-gray: #eaeaea;
  --white-grey: #f5f5f5;
  --grey: #9d9d9d;
  --dark-grey: #555555;
  --white: white;
  --mark: #ead670ba;

  /* fonts */
  --Title: Exo;
  --paragarph: Jost;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", sans-serif;
  font-weight: 600 !important;
}
p,
a {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

.Project-Container {
  padding: 60px 16.4063% 90px 16.4063%;
}

.Project-Container-FAQs {
  padding: 0px 16.4063%;
}
.ra-nav-Container{
  padding: 0px 16.4063% !important ;
}
a {
  text-decoration: none !important;
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }

}
.block{
  animation: appear linear;
  animation-timeline: view() ;
  animation-range: entry 0;
}


/* large screen */
 @media (min-width: 993px) and (max-width: 1367px) {
  .Project-Container   {
    padding: 60px 16%  16% ;
  } 
  .ra-nav-Container{
    padding: 10px 16% !important ;
   }
 }
  /* .Project-Container {
    padding: 60px 12%;
  } */


/* @media (max-width:670px)
{

  .Project-Container {
    padding: 60px 10%;
  }

  .Project-Container{
    padding: 60px 12%;
  }
} */

/* medium screen */
 @media (min-width: 769px) and (max-width: 992px) {
  .Project-Container {
    padding: 60px 14% 90px 14%;
  }
  .ra-nav-Container {
    padding: 10px 14% !important ;
  }
} 

/* small screen */
@media (min-width: 421px) and (max-width: 768px) {
  .Project-Container {
    padding: 60px 10% 90px 10%;
  }
  .ra-nav-Container {
    padding: 5px 10% !important;
  }
}

@media (max-width: 420px) {
  .Project-Container {
    padding: 60px 10%;
  }
  .Project-Container-FAQs {
    padding: 0px 10%;
  }
  .ra-nav-Container {
    padding: 5px 10% !important;
  }
}
